.wrapper {
    display: flex;
  }
.wrapper > div {
  flex: 1;
} 
.box1 {
  padding: 1em;
  background-color: aqua;
}  
.box2 {
  padding: 1em;
  background-color: chartreuse;
}
.box3 {
  padding: 1em;
  background-color: coral;
}